@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

:root {
  --bg-primary: rgba(167, 163, 163, 0.4);
  --primary-color: #256188;
  --green: #588a00;
  --blue: #256188;
  --grey: #676e7a;
  --darkgrey: rgba(102, 102, 102, 0.5);
  --lightgrey: rgba(153, 153, 153, 0.5);
  --darkblue: #244062;
  --lightpurple: #c9bcf0;
  --red: rgba(224, 30, 30, 0.9);
  --white: #fff;
  --black: #000;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  --speed: 500ms;
  --font-default: "Helvetica Neue", Helvetica, sans-serif;
  --font-secondary: "Raleway", sans-serif;
  --font-weight-default: 300;
  --font-weight-two: 400;
  --font-weight-bold: 600;
}

/***********  Base Styles  **********/
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  font-family: var(--font-default);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
  color: #007bff;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}

ul {
  padding: 0;
}

img {
  vertical-align: middle;
  border-style: none;
}

li {
  list-style: none;
}

.btn {
  border: none;
  padding: 0.5rem 0.8rem;
  color: var(--white);
}

.btn-default {
  border: 1px solid var(--white);
}

.default {
  background: var(--primary-color);
}

.red {
  background: var(--red);
}

.blue {
  background: var(--blue);
}

.dark-blue {
  background: var(--darkblue);
}

.green {
  background: var(--green);
}

.dark-grey {
  background: var(--darkgrey);
}

.light-grey {
  background: var(--lightgrey);
}

.light-purple {
  background: var(--lightpurple);
}

.white {
  background: var(--white);
}

.black {
  background: var(--black);
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

input {
  height: 50px;
  padding: 0 1rem;
  font-size: 1.1rem;
  outline: none;
}

.card {
  width: 80%;
  max-width: 800px;
  height: auto;
  margin: auto;
  background: var(--white);
  /* position: relative; */
  box-shadow: var(--shadow);
}

.card-header {
  text-align: center;
  padding: 1.5rem;
  font-size: 2rem;
  margin: 0;
}

.card-body {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-footer {
  text-align: center;
  padding: 1.1rem;
  margin: 0;
}

button {
  display: block;
  height: 40px;
  border: none;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  cursor: pointer;
}

.accordion {
  background-color: var(--white);
  color: var(--primary-color);
  padding: 1.5rem 0.8rem;
  line-height: 9px;
  font-weight: var(--font-weight-bold);
  cursor: pointer;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: all 0.5s ease-in;
}

.active,
.accordion:hover {
  background-color: var(--lightgrey);
}

.accordion-content {
  padding: 0 1.1rem;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion::after {
  content: "\02795";
  font-size: 0.8rem;
  color: var(--black);
  float: right;
  margin-left: 0.4rem;
}

.active::after {
  content: "\2796";
}

main {
  min-height: calc(100vh - 50px);
  padding: 2rem;
}

.show {
  display: block;
}

.hide {
  display: none;
}

/***********  Header Styles  **********/

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  align-items: center;
}

.navbar {
  position: relative;
  overflow: hidden;
  height: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  display: flex;
}

.open-slide {
  position: absolute;
  top: 18px;
  right: 0;
}

.nav-item a {
  display: block;
  color: var(--white);
  padding: 0.3rem 1rem;
  margin: 0 0.2rem;
  font-size: 1.1rem;
}

.nav-item a:hover {
  border: 1px solid var(--white);
  border-radius: 3px;
  text-decoration: none;
  background: var(--grey);
}

.nav-logo a {
  font-weight: var(--font-weight-bold);
  color: var(--white);
  font-size: 2rem;
  font-family: var(--font-secondary);
}

.nav-logo a {
  text-decoration: none;
}

.nav-item .signup,
.nav-item .logout {
  border: 1px solid var(--white);
  border-radius: 0.2rem;
}

.nav-item .signup:hover,
.nav-item .logout:hover {
  background: var(--lightpurple);
  color: var(--black);
}

.nav-item .login {
  border: 1px solid var(--white);
  border-radius: 0.2rem;
  background: var(--lightpurple);
  color: var(--black);
}

.nav-item .login:hover {
  color: var(--white);
}

.side-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-right: 1px solid var(--primary-color);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s ease;
}

.side-nav a {
  padding: 10px 10px 10px 30px;
  font-size: 22px;
  display: block;
  transition: 0.3s ease;
  color: var(--white);
}

.side-nav a:not(:first-child) {
  border-bottom: 1px solid var(--primary-color);
}

.side-nav a:hover {
  text-decoration: none;
  background: var(--grey);
  border-bottom: 1px dotted var(--white);
}

.side-nav a.btn-close-sidenav {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 40px;
  margin-left: 40px;
}

.side-nav a.btn-close-sidenav:hover {
  background: none;
  border-bottom: none;
}

@media (max-width: 568px) {
  .navbar-nav {
    display: none;
  }
  .open-slide {
    right: 15px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
  .navbar-nav {
    display: none;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }

  .open-slide {
    display: none;
  }
  .navbar-nav {
    display: flex;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

/************  Home Page **************/
.home-body {
  height: 100vh;
  background: var(--darkblue);
  overflow: hidden;
}

.main-home {
  position: relative;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/parceld.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  font-family: var(--font-secondary);
}

.main-home h1 {
  font-size: 50px;
  line-height: 1.2;
  z-index: 2;
  color: var(--blue);
}

.main-home p {
  font-size: 20px;
  z-index: 2;
  color: var(--white);
}

.signup-index {
  border: 1px solid var(--darkblue);
  border-radius: 0.2rem;
  padding: 0 0.2rem;
  margin: 0 0.5rem;
  background: var(--lightpurple);
  color: var(--darkblue);
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-index:hover {
  text-decoration: none;
  color: var(--white);
  background: var(--blue);
}

@media (max-width: 1300px) {
  .container.main-home {
    max-width: 100%;
  }
}

/***********  Login Modal  **********/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--lightgrey);
}

.modal-body {
  position: relative;
  max-width: 500px;
}

.close {
  position: absolute;
  right: 1.2rem;
  top: 0;
  color: var(--black);
  font-size: 2.3rem;
  font-weight: bold;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .modal-body {
    width: 90%;
  }
}

/***********  Sign Up Page  **********/

.signup-body {
  background: #ccc;
}

.signup-main {
  padding-top: 150px;
}

.signup-header {
  padding: 0.5rem 0;
}
.signup-message {
  display: none;
  width: 50%;
  margin: -50px auto 15px auto;
  text-align: center;
  color: var(--white);
  z-index: 10;
  padding: 0 1.2rem;
  font-size: 1rem;
}
.checkPasswords {
  color: var(--red);
  display: none;
}

.card-form input {
  padding: 10px 0;
  font-size: 1.2rem;
}

.card-form input {
  width: 100%;
  margin: 1rem 0;
  padding: 0 1rem;
  border-radius: 0.1rem;
  outline: none;
  transition: all 0.5s ease;
  border: none;
}

.card-form input[type="submit"] {
  cursor: pointer;
  color: var(--white);
  margin: 1.5rem 0 0 0;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.2rem;
  border: none;
  background: var(--primary-color);
}

.card-form input[type="submit"]:hover {
  font-weight: bold;
}

.card-form form div {
  position: relative;
}

@media (max-width: 578px) {
  .card.signup {
    width: 100%;
  }
}

/********  User Page *********/

/* .user-body {
  background: var(--darkblue);
} */

.order-btn-nav {
  border: 1px solid var(--white);
  border-radius: 0.2rem;
  background: var(--green);
}

.order-btn-nav:hover {
  background: var(--lightpurple);
}

.user-page {
  padding-top: 100px;
  background: var(--white);
  box-shadow: var(--shadow);
}

.user-dashboard {
  display: grid;
  grid-gap: 2rem;
}

.order-summary {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.order-box {
  background: var(--white);
  padding: 1.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: var(--shadow);
}

.order-box h3 {
  margin: 0;
}

.total-order h3 {
  color: var(--darkblue);
}

.in-transit h3 {
  color: var(--lightpurple);
}

.delivered h3 {
  color: var(--green);
}

.order-box h3 {
  font-size: 2rem;
}

.order-list-table {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 2fr 1fr;
}

.order-list {
  box-shadow: var(--shadow);
  padding: 1rem 0.3rem;
}

.order-id {
  color: var(--black);
}

.acc-container {
  margin-top: 1rem;
  box-shadow: var(--shadow);
}

.map {
  box-shadow: var(--shadow);
  border: 3px solid var(--white);
  border-radius: 0.2rem;
  max-height: 255px;
}

@media (max-width: 578px) {
  .order-header {
    font-size: 1.5rem;
  }
  .order-box {
    padding: 1rem;
  }
  .box-title {
    font-size: 0.8rem;
  }
}

/********   Order Form Modal *********/
.order-page {
  padding-top: 80px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.order-hr {
  border: 1px solid var(--darkblue);
}

.order-form {
  width: 100%;
  box-shadow: var(--shadow);
}

.order-form .card-form input {
  height: 30px;
}

.order-form .card-form input[type="submit"]:hover {
  background: var(--darkblue);
  font-weight: normal;
  border: 1px solid var(--white);
}

.order-header {
  padding: 0.2rem;
  color: var(--darkblue);
}

.order-info,
.order-destination label {
  font-size: 0.9rem;
  color: var(--darkblue);
}

.order-info input,
.order-destination input {
  margin-top: 0;
  height: 40px;
  font-size: 0.9rem;
}

.order-list .accordion {
  background: #ccc;
  color: var(--darkblue);
  font-weight: var(--font-weight-bold);
  text-transform: capitalize;
}

.order-list-content {
  background: var(--white);
}

.order-list-title {
  text-align: center;
  color: var(--darkblue);
  margin-bottom: 0;
}

.order-detail {
  width: 100%;
  padding: 0.5rem;
}

.order-detail h4,
p {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.order-detail p {
  font-size: 0.8rem;
  color: var(--darkblue);
}

span.price {
  color: var(--darkgrey);
}

.status {
  display: flex;
  align-items: center;
  height: 1rem;
  padding: 0.2rem;
  color: var(--white);
  font-size: 0.6rem;
  font-weight: var(--font-weight-bold);
}

.status-delivered {
  background: var(--green);
}

.status-in-transit {
  background: var(--lightpurple);
  color: var(--black);
}

.order-detail-edit {
  display: flex;
  justify-content: space-between;
}

.btn-cancel,
.btn-change {
  height: 1.2rem;
  font-size: 0.4rem;
  font-weight: var(--font-weight-bold);
}

.btn-cancel {
  background: var(--red);
}

.btn-change {
  background: var(--darkblue);
}

.btn-cancel:hover,
.btn-change:hover {
  opacity: 0.9;
  border: 1px dotted var(--white);
}

@media (max-width: 568px) {
  .order-detail h4 {
    font-size: 0.8rem;
  }
  .order-detail p {
    font-size: 0.7rem;
  }

  .btn-cancel,
  .btn-change {
    height: 1rem;
  }
}

@media (max-width: 768px) {
  .order-page {
    grid-template-columns: 1fr;
  }

  .order-list-table {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}

/********  Admin Page **********/
.admin-body {
  background: var(--darkblue);
}

.admin-page {
  padding-top: 100px;
  background: var(--white);
}

.admin-dashboard {
  display: grid;
  grid-gap: 2rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  box-shadow: var(--shadow);
}

.t-header {
  background: var(--blue);
  color: var(--white);
}

th,
td {
  text-align: left;
  padding: 0.4rem 0.8rem;
}

tr:nth-child(even) {
  background-color: var(--white);
}

td:nth-child(1) {
  font-weight: var(--font-weight-bold);
}

.btn-detail {
  cursor: pointer;
  color: var(--darkgrey);
}

.btn-detail:hover {
  color: var(--darkblue);
}

.order-status-table {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
}

.order-status {
  box-shadow: var(--shadow);
}

@media (max-width: 768px) {
  .order-status-table {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    grid-template-areas:
      "intransit"
      "delivered";
  }

  .delivered-orders {
    grid-area: delivered;
  }

  .in-transit-orders {
    grid-area: intransit;
  }
}

@media (max-width: 1300px) {
  .container.user-page,
  .container.admin-page,
  .container.signup-main {
    max-width: 100%;
  }
}

.main-footer {
  text-align: center;
  padding: 1rem;
  background: var(--primary-color);
  color: var(--white);
  height: 50px;
}
